nav.navbar.navbar-expand-sm.bg-dark.navbar-light.mb
	ul.navbar-nav
		li.nav-item
			a.nav-link.text-light(href="/html/book_in.html") 도서입력 (관리자모드)
		li.nav-item
			a.nav-link.text-light(href="/book") 도서목록보기
