/* 
반응형: 크기가 제각각인 모든 디바이스에서 웹사이트가 최적화 된 경험을 제공한다. 
1.가급적 px(픽셀단위)를 제거한다. 
  -rem/em/vw/nh/% (가변단위)를 주로 사용한다.
2.rem은 무엇인가?
  -body의 폰트 사이즈를 1rem이라 한다. 
  -기준이 16 px일 때
   0.75rem: 12 px
   0.875rem: 14 px
   1rem: 16 px
   1.125rem: 8 px
   1.25rem: 20 
   0.625rem: 10 px
   
   0.5rem: 8 px
   0.25rem: 4 px
   0.75rem: 12 px
   1rem: 16 px
   1.5rem: 24 px
   3rem: 50 px
   6rem: 100 px
*/

/* 공통사항 */
.wrap{width: 100%;
      max-width: 1200px;
      margin:auto;}
.main_tit{padding: 0.75rem 0;
            border-bottom: 1px solid #ccc;}
/* tops */
.tops{width:100%;
      padding: 0.5rem 1rem;
      background-color: #fff;
      box-shadow: 0 0 0.125rem rgba(0, 0, 0, 40%);
      letter-spacing: 0.25rem;
      position: fixed;
      z-index: 999;}
.logo{float: left;
     padding: 0.75rem;}
.logo:hover{background-color: #ccc;}
.logo>span{font-weight: bold;
           margin-right: 0.5rem;}

.navs{float: right;
      margin-right: 1.25rem;}
.nav{float: left;
     padding: 0.75rem 0.125rem;
     cursor: pointer;}
.nav:hover{background-color: #ccc;}
/* bans */
.bans{position: relative;}
.bans>img{margin-top: 3rem;}
.ban_tit {font-size: 2rem; 
          letter-spacing: 0.25rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color:white;}
.ban_tit > span {font-weight: bold; 
                 margin-right:1rem; 
                 background-color: rgba(0, 0, 0, 0.596);
                 padding:0.5rem 0.75rem;}
/* projects */
.projects{width: 100%; 
          margin: 6rem auto;}

.projects>ul{margin-top: 3rem;
            width: 101.5%;
            margin-left: -0.5%;}
.prj{float: left;
     width: 24%;
     margin: 0.5%;
     position: relative;}
.prj:hover{opacity: 0.9;}
.prj> .sub_tit{padding:1rem;
               background-color: rgba(0, 0, 0, 0.7);
               color: white;
               position:absolute;
               top:0%;
               left:0%;}
/* about */
.abouts{width: 100%; 
         margin: 6rem auto;}
.about_cont{margin:1.5rem 0;}
.abouts>ul{margin-top: 3rem;
            width: 101.5%;
            margin-left:-0.5%;}
.member{width: 24%;
        margin: 0.5%;
       float: left;}
.member_name{margin: 1rem 0;}
.member_job{margin: 1rem 0;
            color: #999;}
.member_cont{margin: 1rem 0;}
.bt_contact{padding: 0.75rem;
            background: #eee;
            text-align: center;}
.bt_contact:hover{background-color: #333;
                  color: #fff;
                  cursor: pointer;}

.member> div{overflow: hidden;}
.member> div> img{transition: transform 1s;}
.member> div> img:hover{transform:scale(1.1);}
/* contact */
.contacts{width: 100%;
          margin: 6rem auto;}
.contacts_cont{margin: 1.5rem 0;}
li.contact{margin: 0.5rem 0;}
li.contact>input{width: 100%;
                 padding: 0.75rem;
                 border: 1px solid #ccc;}

.bt_send{padding: 0.75rem 1rem;
         background: #222;
         color: #f8f8f8;
         cursor: pointer;
         margin-top: 1.5rem;}
.bt_send:hover{background-color: #ccc;
               color: #111;}                
/* location */
.loc{margin-top: 1.5rem;}
/* footer */
footer{width: 100%;
      margin-top: 6rem;
      background-color: #111;
      text-align: center;
      color: #f8f8f8;
      padding: 2rem 0;}

 /* 반응형 처리 */
 /* 769~1024px */
 
 @media screen and (max-width: 1024px){
 html,body{font-size: 18px;}
 .wrap{width: 96%;}
 .ban_tit {font-size: 3vw;}

}
 
 /*481~768px */
 @media screen and (max-width: 768px){
 html,body{font-size: 20px;} 
 .prj{ width: 49%;} 
 .member{width: 49%;}
 .ban_tit {font-size: 4vw;}

}   
 
 /* 321~480px */
 @media screen and (max-width: 480px){
html,body{font-size:22px;}    
.navs{display: none;}
.prj{ width: 99%;} 
.member{width: 99%;}
.ban_tit {font-size: 5vw;}
}

 /* 0~320px */
 @media screen and (max-width: 320px){
html,body{font-size: 24px;}
.ban_tit {font-size: 6vw;}    
}